<a href="https://colab.research.google.com/github/shengchishih/SQL/blob/main/Create_%26_Access_SQLite_database_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Task 1: Create database using SQLite

In [ ]:
import sqlite3

In [ ]:
conn=sqlite3.connect('INSTRUCTOR.db')

Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

In [ ]:
cursor_obj=conn.cursor()

##Task 2: Create a table in the database

In [ ]:
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [ ]:
# Creating table
table="""create table IF NOT EXISTS INSTRUCTOR (ID INTEGER PRIMARY KEY NOT NULL,
FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""

cursor_obj.execute(table)

print("Tabke is Ready")

Tabke is Ready

##Task 3: Insert data into the table

In [ ]:
cursor_obj.execute('''
insert into INSTRUCTOR values (1,'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [ ]:
cursot_obj.execute('''
insert into INSTRUCTOR values
(2,'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')
''')

##Task 4: Query data in the table

In [ ]:
statement='''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all=cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [ ]:
## Fetch few rows from the table

statement='''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_many=cursor_obj.fetchmany(2)
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [ ]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the date")
output_column=cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the date
('Rav',)
('Raul',)
('Hima',)

# now write and execute an update statement that changes the Rav's CITY to MOOSETOWN

In [ ]:
query_update='''UPDATE INSTRUCTOR set CITY='MOOSETOWN' where FNAME="Rav"'''
cursor_obj.execute(query_update)

In [ ]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

## Task 5: Retrieve data into Pandas

In [ ]:
import pandas as pd

df=pd.read_sql_query("select * from instructor;", conn)

df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [ ]:
df.LNAME[0]

'Ahuja'

In [ ]:
df.shape

(3, 5)

In [ ]:
#Close the connection

conn.close()